@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p class="lead"></p>
    <p><a href="http://localhost:3351/Notes/Index" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sum</h2>
        <p>
            @ViewBag.w + @ViewBag.q = @ViewBag.sum
        </p>
        <p><a class="btn btn-default" href="http://localhost:3351/Home/Index">Learn more &raquo;</a></p>
    </div>
</div>