main {
    padding-left: 60px;
    padding-right: 60px;
}
footer {
    text-align: right;
}
.post {
    padding: 1%;
    margin: 0.5%;
    background-color: #fbfbfb;
}
.filtersearch{
    text-align: right;
}
.comments {
    padding: 15px 22px;
}

.comment {
    padding: 10px;
    background-color: #f6f6f6;
}

.errorlist {}
ul .errorlist {
    margin: 1%;
    color: slategray;
}